.leaderboard {
    width: 728px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem
}

@media screen and (max-width:768px) {
    .leaderboard {
        display: none
    }
}

.footer-link-desktop {
    display: block
}

@media screen and (max-width:768px) {
    .footer-link-desktop {
        display: none
    }

    #banner-secondary-nav .mega-menu {
        top: 56px
    }
}

html {
    background-color: #fff;
    font-size: 62.5%;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3
}

a {
    color: #1eb3ec
}

.fa,
[class*=" fa-"] {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-angle-right:before {
    content: ""
}

.cta-sub {
    border-bottom: 1px solid #dce3ed;
    background-color: #fff;
    align-items: center;
    padding: 38px;
    max-width: 940px;
    margin: 25px auto 0;
    flex-wrap: wrap
}

@media print,
screen and (min-width:769px) {
    .cta-sub {
        display: flex
    }
}

@media screen and (min-width:1160px) {
    .cta-sub {
        max-width: none;
        padding-left: 45px;
        padding-right: 45px
    }
}

.cta-sub__message {
    color: #01b2ee;
    font-size: 24px;
    font-weight: 700;
    padding-right: 10px;
    width: 100%;
    margin-bottom: 18px
}

@media screen and (min-width:1280px) {
    .cta-sub__message {
        width: auto;
        margin-bottom: 0;
        margin-right: 12px
    }
}

.email-subscription {
    display: flex;
    background: #fff;
    margin: 0;
    flex: 1;
    max-width: 750px
}

.email-subscription__input-container {
    position: relative;
    width: 100%
}

input.email-subscription__input {
    height: 46px;
    font-size: 15px;
    color: #4f5864;
    padding: 0 0 0 12px;
    box-shadow: 0 0 8px 0 rgba(79, 88, 100, .1);
    border-radius: 5px 0 0 5px;
    border: 1px solid #dce3ed;
    width: 100%
}

input.email-subscription__input::-webkit-input-placeholder {
    color: #92a2ad
}

input.email-subscription__input:-ms-input-placeholder {
    color: #92a2ad
}

input.email-subscription__input::-ms-input-placeholder {
    color: #92a2ad
}

input.email-subscription__input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset
}

.oldbtn.email-subscription__button {
    box-shadow: 0 0 8px 0 rgba(1, 178, 238, .5);
    border: none;
    background: #01b2ee;
    border-radius: 0 5px 5px 0;
    font-size: 15px;
    font-weight: 500;
    padding: 0 12px
}

.email-subscription__icon {
    display: none
}

@media screen and (min-width:500px) {
    input.email-subscription__input {
        padding-left: 45px
    }

    .oldbtn.email-subscription__button {
        padding: 0 24px
    }

    .email-subscription__icon {
        display: block;
        stroke: #92a2ad;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 11px;
        left: 12px
    }
}

.oldbtn {
    padding: 9px 18px;
    border-radius: 4px;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    display: inline-block;
    color: #fff;
    border: 1px solid
}

.inner-wrap {
    background-position: center 64px
}

.background-image-takeover,
.inner-wrap {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat
}

.background-image-takeover {
    background-position: top
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

body,
html {
    font-size: 14px
}

body {
    position: relative;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
    color: #4f5864;
    padding: 0;
    margin: 0;
    background: #f4f7fb
}

body,
button,
input {
    font-family: MuseoSans, sans-serif
}

h3,
h4 {
    font-weight: 700
}

h3 {
    font-size: 1.3rem
}

h4 {
    font-size: 1.15rem
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1
}

a {
    color: #01b2ee;
    text-decoration: none
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

img {
    max-width: 100%;
    height: auto
}

small {
    font-size: .875em
}

#page-wrapper {
    display: flex;
    min-height: 100%;
    height: 100%;
    flex-direction: column
}

.inner-wrap {
    flex: 1
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box
}

@media (min-width:1200px) {
    .container {
        max-width: 1385px
    }
}

.dropdown-toggler {
    position: relative;
    vertical-align: middle;
    line-height: 18px;
    font-family: MuseoSans, sans-serif
}

.dropdown-toggler:after {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 8px;
    content: "";
    font-size: 18px;
    vertical-align: middle;
    color: #4f5864
}

.dropdown-list {
    display: none !important
}

.dropdown-overlay-container {
    position: relative;
    display: flex;
    align-items: center
}

.dropdown-overlay-container .dropdown-list {
    position: absolute;
    top: 40px;
    padding: 0;
    border: 1px solid #dce3ed;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    z-index: 99
}

.dropdown-overlay-container .dropdown-list li {
    display: block;
    font-size: 12px;
    margin: 0
}

.dropdown-overlay-container .dropdown-list a {
    display: block;
    color: #4f5864;
    text-decoration: none;
    padding: 14px
}

.dropdown-overlay-container .dropdown-list li+li {
    border-top: 1px solid #eeeef4
}

.dropdown-overlay-container .dropdown-list:after,
.dropdown-overlay-container .dropdown-list:before {
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #dce3ed;
    position: absolute;
    top: -16px;
    left: 50%;
    content: "";
    z-index: 1;
    transform: translate3d(-50%, 0, 0)
}

.dropdown-overlay-container .dropdown-list:after {
    top: -15px;
    border-bottom-color: #fff;
    z-index: 2
}

.dropdown-overlay-container .dropdown-list.dropdown-list-left {
    left: 0
}

.dropdown-overlay-container .dropdown-list.dropdown-list-left:after,
.dropdown-overlay-container .dropdown-list.dropdown-list-left:before {
    left: 12px;
    transform: none
}

.dropdown-overlay-container .dropdown-list.dropdown-list-right {
    right: 0
}

.dropdown-overlay-container .dropdown-list.dropdown-list-right:after,
.dropdown-overlay-container .dropdown-list.dropdown-list-right:before {
    left: auto;
    right: 25px;
    transform: none
}

.mega-menu__overlay {
    position: fixed;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(45, 48, 55, .8);
    opacity: 0
}

#banner-secondary-nav .banner-vertical-item__chev-down {
    fill: #01b2ee;
    width: 12px;
    margin-left: 7px;
    height: 12px;
    display: inline-block;
    vertical-align: middle
}

@media screen and (max-width:799px) {
    #banner-secondary-nav .banner-vertical-item__chev-down {
        margin-left: 2px
    }
}

#banner-secondary-nav .mega-menu {
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 10;
    width: auto;
    overflow: hidden;
    opacity: 0;
    height: 0
}

#banner-secondary-nav .banner-vertical-item .banner-vertical-item-triangle {
    opacity: 0
}

.header-search {
    flex: 1;
    max-width: 500px
}

.search-bar {
    position: relative;
    margin: 0
}

.search-bar__search-button {
    display: none
}

.search-bar__clear-button {
    position: absolute;
    right: 15px;
    top: 10px
}

.search-bar__clear-button.hide {
    display: none
}

input.search-bar__query {
    height: 40px;
    padding: 0 15px 0 40px;
    font-size: 15px;
    color: #4f5864;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(79, 88, 100, .1);
    border-radius: 5px;
    border: 1px solid #dce3ed;
    width: 100%
}

input.search-bar__query::-webkit-input-placeholder {
    color: #4f5864
}

input.search-bar__query:-ms-input-placeholder {
    color: #4f5864
}

input.search-bar__query::-ms-input-placeholder {
    color: #4f5864
}

input.search-bar__query:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset
}

.search-bar__search-icon {
    stroke: #4f5864;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 10px
}

.svg__global--chev-down {
    display: none
}

#banner {
    margin-bottom: 20px
}

#banner .svg__global--go-logo-white {
    fill: #fff;
    stroke: #fff
}

#banner-primary-nav>div,
#banner-secondary-nav>div {
    max-width: 1385px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box
}

#banner-primary-nav {
    display: flex;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 60px;
    color: #fff;
    background: #01b2ee;
    z-index: 9
}

#banner-primary-nav button {
    margin-bottom: 0;
    outline: 0
}

#banner-primary-nav .banner-primary-nav__content {
    max-width: 1385px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#banner-primary-nav .region-dropdown {
    display: inline-block
}

#banner-primary-nav .banner-account-links__subscribe {
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    line-height: 40px;
    color: #fff
}

#banner-primary-nav .banner-account-links__subscribe svg {
    margin-right: 3px
}

#banner-primary-nav .dropdown-list {
    min-width: 260px;
    line-height: 1;
    transform: translateY(10px)
}

#banner-primary-nav .dropdown-list a {
    color: #4f5864;
    font-size: 15px
}

#banner-primary-nav .primary-nav-icon {
    fill: #fff
}

#banner-primary-nav .svg__global--chev-down {
    width: 12px;
    display: inline;
    height: 20px;
    margin-left: 6px;
    vertical-align: middle
}

#banner-primary-nav .primary-nav-icon--cart,
#banner-primary-nav .primary-nav-icon--location,
#banner-primary-nav .primary-nav-icon--mail,
#banner-primary-nav .primary-nav-icon--user,
#banner-primary-nav .primary-nav-icon--wishlist {
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    width: 25px;
    height: 25px;
    vertical-align: middle
}

@media screen and (max-width:1087px) {
    #page-wrapper {
        padding-top: 6rem
    }

    #banner-primary-nav .dropdown-list {
        left: inherit;
        right: 0;
        max-height: 60vh;
        overflow-y: auto
    }

    #banner-primary-nav .dropdown-list:after,
    #banner-primary-nav .dropdown-list:before {
        left: inherit;
        right: 12px
    }

    #banner-primary-nav #banner-account-links {
        display: none
    }

    .mobile-cart {
        display: none
    }
}

#banner-primary-nav #banner-account-links ul {
    display: flex;
    align-items: center;
    padding-left: 0
}

#banner-primary-nav #banner-account-links button {
    margin-bottom: 0
}

#banner-brand {
    display: block;
    flex: 1
}

#banner-brand a {
    display: inline-block
}

#banner-brand .svg__global--go-logo-white {
    width: 145px;
    height: 28px
}

#banner-search {
    padding: 0 0 0 7px;
    overflow: hidden
}

@media screen and (max-width:768px) {
    #banner-primary-nav button {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        padding: initial;
        border: none;
        border-radius: initial;
        background: 0 0;
        box-shadow: none;
        font-size: 24px;
        color: #5e6669;
        padding-left: 10px;
        padding-right: 10px
    }

    #banner {
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%
    }

    #banner-account-links .dropdown-overlay-container {
        position: inherit
    }

    #banner-account-links>ul>li,
    #banner-account-links>ul>li.desktop-cart {
        display: none
    }

    .dropdown-list {
        min-width: 100%
    }

    .dropdown-overlay-container .dropdown-list.dropdown-list-right:after,
    .dropdown-overlay-container .dropdown-list.dropdown-list-right:before {
        right: 60px
    }
}

#banner-primary-nav .dropdown-toggler {
    box-shadow: none;
    border: none;
    background: 0 0;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
    font-weight: 500;
    padding: 0 5px;
    color: #fff;
    margin-bottom: 0
}

@media screen and (max-width:599px) {
    #banner-primary-nav .dropdown-toggler {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
        max-width: calc(100vw - 200px)
    }
}

#banner-primary-nav .dropdown-toggler:after {
    display: none
}

@media screen and (min-width:742px) {
    #banner-primary-nav {
        height: 60px
    }

    #banner-primary-nav>div>ul {
        display: inline-block;
        margin-left: 20px
    }

    #banner-primary-nav #banner-account-links {
        font-size: 12px;
        font-weight: 300
    }

    #banner-primary-nav #banner-account-links button {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        padding: initial;
        border: none;
        border-radius: initial;
        background: 0 0;
        box-shadow: none;
        font-size: 14px;
        color: #8a8d8f
    }

    #banner-primary-nav #banner-account-links button:after {
        margin-left: 10px;
        font-size: 16px
    }

    #banner-primary-nav #banner-account-links>ul>li {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px
    }

    #banner-primary-nav #banner-account-links>ul>li:nth-child(3) {
        border-left: none
    }

    #banner-primary-nav #banner-account-links>ul>li>a {
        color: #fff;
        text-decoration: none
    }
}

.mobile-cart {
    flex: none
}

.mobile-cart span {
    display: none
}

.cart-icon-button-count {
    background-color: #fa3e3e;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    position: absolute;
    width: 18px;
    bottom: 15px;
    right: -7px
}

.cart-icon-button {
    display: inline-block;
    position: relative;
    text-align: center
}

#banner-secondary-nav {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(75, 84, 96, .22);
    position: relative;
    z-index: 8;
    min-height: 57px
}

#banner-secondary-nav button {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    padding: initial;
    border: none;
    border-radius: initial;
    background: 0 0;
    box-shadow: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#banner-secondary-nav>div {
    max-width: 1385px;
    margin: 0 auto;
    position: relative
}

#banner-secondary-nav .banner-vertical-item__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    display: block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    height: 57px;
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px
}

#banner-secondary-nav .banner-vertical-item {
    display: inline-block
}

#banner-secondary-nav .banner-vertical-item:first-child .banner-vertical-item__text {
    padding-left: 0
}

@media (max-width:860px) {
    #banner-secondary-nav .banner-vertical-item {
        margin-right: 0
    }
}

#banner-secondary-nav .svg__global--close {
    width: 15px;
    height: 20px;
    vertical-align: middle;
    fill: #4f5864
}

#banner-secondary-nav .svg__global--close:before {
    display: none
}

@media screen and (max-width:479px) {
    #banner-secondary-nav .banner-vertical-item {
        display: none
    }
}

@media screen and (min-width:480px) {
    #banner-secondary-nav>div>ul {
        display: inline-block
    }

    #banner-secondary-nav>div>ul>li {
        margin-right: 15px
    }

    #banner-secondary-nav>div>ul>li>a {
        font-size: 17px;
        line-height: 25px;
        font-weight: 500;
        display: block;
        color: #4f5864
    }
}

@media screen and (max-width:945px) {
    #banner-secondary-nav .banner-vertical-item {
        margin-right: 0
    }

    #banner-secondary-nav .banner-vertical-item__text {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        max-width: 170px
    }
}

@media screen and (max-width:799px) {
    #banner-secondary-nav .banner-vertical-item__text {
        font-size: 13px
    }
}

#banner-secondary-nav>div {
    display: flex;
    justify-content: space-between
}

#banner-secondary-nav>div>div {
    flex: 1
}

#banner-secondary-nav-container {
    align-items: center;
    display: flex;
    justify-content: flex-end
}

#full-page-search {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    bottom: 0;
    left: 0;
    background: #fafafc;
    padding: 20px;
    z-index: -20;
    opacity: 0;
    overflow: hidden;
    visibility: hidden
}

#full-page-search #search-bar-clear {
    position: absolute;
    background: 0 0;
    padding: 0;
    top: 12px;
    border: none;
    right: 40px
}

#full-page-search #search-bar-clear span,
#full-page-search #search-bar-clear.hide {
    display: none
}

#full-page-search .svg__global--close {
    width: 15px;
    height: 20px;
    vertical-align: middle;
    fill: #4f5864
}

#full-page-search .svg__global--close:before {
    display: none
}

#full-page-search #search-bar {
    padding-right: 0;
    height: 100%
}

#full-page-search #search-bar #search-bar-wrapper {
    padding-left: 40px;
    position: relative
}

#full-page-search #search-bar #search-bar-query {
    height: 45px;
    padding-left: 20px;
    padding-right: 60px;
    box-shadow: none;
    border-color: #e1e1e2;
    font-size: 14px;
    color: #9ca4a9;
    width: 100%
}

#full-page-search #search-bar .svg__global--search {
    width: 20px;
    height: 25px;
    fill: #4f5864;
    position: absolute;
    right: 14px;
    top: 10px
}

#full-page-search #search-bar #search-bar-back {
    position: absolute;
    left: 0;
    top: 0;
    background: 0 0;
    border: none;
    padding: 0
}

#full-page-search #search-bar #search-bar-back .svg__global--arrow-left {
    width: 25px;
    height: 45px;
    fill: #4f5864
}

#full-page-search #search-bar #search-bar-submit {
    bottom: 0;
    top: auto;
    color: #fff;
    background-color: #01b2ee;
    display: none
}

#full-page-search #search-bar #search-bar-intro {
    text-align: center;
    color: #9ca4a9;
    position: absolute;
    width: 100%;
    opacity: .6;
    top: 80px
}

#full-page-search #search-bar #search-bar-intro h4 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px
}

#full-page-search #search-bar #search-bar-intro p {
    width: 250px;
    font-size: 16px;
    margin: 0 auto
}

#banner {
    font-family: MuseoSans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: #4f5864;
    padding: 0;
    margin: 0;
    background: #f4f7fb
}

@media screen and (max-width:1087px) {
    #banner-secondary-nav {
        display: none
    }

    #banner {
        position: fixed;
        z-index: 2;
        width: 100%;
        top: 0
    }
}

#banner a {
    color: #01b2ee
}

#banner li,
#banner ul {
    list-style-type: none;
    margin: 0
}

#banner *,
#banner :after,
#banner :before {
    box-sizing: border-box
}

#banner a {
    text-decoration: none
}

#mega-menu-container {
    margin-bottom: 0;
    font-size: 0;
    padding-left: 0
}

#mega-menu-container .banner-vertical-item {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 14px
}

#banner .dropdown-list-item--logout {
    display: none
}

#banner .dropdown-list-item--login {
    display: block
}

.main-footer__link {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #4f5864
}

.footer-link-mobile {
    display: none
}

@media screen and (max-width:768px) {
    .footer-link-mobile {
        display: block
    }
}

body,
figure,
h3,
h4,
html,
iframe,
li,
p,
ul {
    margin: 0;
    padding: 0
}

h3,
h4 {
    font-size: 100%;
    font-weight: 400
}

ul {
    list-style: none
}

button,
input {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

iframe {
    border: 0
}

html {
    background-color: #fff;
    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

article,
aside,
figure,
header,
section {
    display: block
}

body,
button,
input {
    font-family: MuseoSans, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif
}

code {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: monospace
}

body {
    color: #4f5864;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3
}

a {
    color: #1eb3ec;
    text-decoration: none
}

code {
    background-color: #4f5864;
    color: #d6dce0;
    font-weight: 400;
    padding: .25em .5em
}

img {
    height: auto;
    max-width: 100%
}

input[type=checkbox] {
    vertical-align: baseline
}

span {
    font-style: inherit;
    font-weight: inherit
}

.listing {
    position: relative
}

.listing h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
    color: #4f5864;
    margin: 0;
    line-height: 1.4
}

.listing a {
    display: block;
    text-decoration: none
}

.listing .listing-content {
    position: relative;
    border-radius: 3px;
    background: #fff;
    border-bottom: 1px solid #ced5df;
    overflow: hidden
}

.listing .listing-image {
    position: relative;
    overflow: hidden;
    width: 100%
}

.listing .listing-image img {
    width: 100%;
    display: block
}

.listing .listing-image figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 178, 238, .9);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.listing .listing-image figcaption p {
    width: 100%;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    padding: 18px
}

.listing .listing-details {
    height: 155px;
    padding: 18px;
    border-top: 1px solid #dce3ed;
    display: flex;
    flex-wrap: wrap
}

.listing .listing-vendor-display-name {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.listing .listing-vendor {
    font-size: 15px;
    font-weight: 300;
    color: #01b2ee;
    margin-bottom: 7px;
    line-height: 1.2;
    max-height: 40px;
    overflow: visible
}

.listing .listing-location {
    font-weight: 300;
    color: #92a2ad
}

.listing .listing-purchase-count {
    font-size: 14px;
    color: #92a2ad;
    width: 30%;
    flex: none;
    display: inline-flex;
    align-items: flex-end;
    justify-content: left
}

.listing .listing-price-container {
    line-height: 1.2;
    text-align: right;
    flex: 1;
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap
}

.listing .listing-price-container .listing-price-from {
    font-size: 12px;
    font-weight: 500
}

.listing .listing-price-container .listing-price-value {
    font-size: 14px;
    text-decoration: line-through;
    color: #727986
}

.listing .listing-price-container .listing-price-current {
    font-size: 35px;
    line-height: 1;
    font-weight: 500
}

.listing .listing-price-container .listing-price-per-item {
    display: block;
    font-size: 12px;
    width: 100%
}

.listing .listing-touch-info {
    display: none
}

.listing-small h3 {
    font-size: 17px
}

.listing-large .listing-price-container .listing-price-current {
    font-size: 35px
}

.listing-details-header,
.listing-price-current,
.listing-price-from {
    width: 100%
}

/* .search-grid-listings {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    flex: 1
} */

/* @media screen and (min-width:1088px) {
    .search-grid-listings {
        margin-left: -15px
    }
} */
/* 
.search-grid-listings .listing {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    flex: 0 0 auto;
    width: 100%
} */

/* @media screen and (min-width:650px) {
    .search-grid-listings .listing {
        padding-left: 15px;
        width: 50%
    }
}

@media screen and (min-width:1280px) {
    .search-grid-listings .listing {
        width: 33.33333%
    }
} */

/* .homepage-main, */
/* .homepage-top {
    max-width: 940px;
    margin: auto
} */

/* .discovery-row {
    display: flex;
    flex-wrap: wrap
}

.discovery-row .listing-large {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%
} */

/* @media screen and (min-width:650px) {
    .discovery-row .listing-large {
        width: 50%;
        margin-top: 0;
        margin-bottom: 0
    }
} */

/* .discovery-row aside {
    flex: 0 0 auto;
    width: 100%;
    width: 25%;
    padding-left: 15px;
    display: none
} */

@media screen and (min-width:1160px) {

    .homepage-main,
    .homepage-top {
        max-width: none
    }

    .discovery-row .listing-large {
        width: 37.5%
    }

    .discovery-row aside {
        display: block;
        display: flex;
        padding-left: 25px
    }

    .discovery-row {
        margin-left: -25px
    }
}

.homepage-main .listing {
    width: 100%
}

@media screen and (min-width:650px) {
    .homepage-main .listing {
        width: 50%
    }
}

@media screen and (min-width:1160px) {
    .homepage-main .listing {
        width: 25%
    }
}

/* .discover-nav {
    display: flex;
    flex-direction: column
}

.discover-nav header {
    font-size: 28px;
    font-weight: 700;
    background-color: #fff;
    border-bottom: 1px solid #dce3ed;
    border-radius: 3px 3px 0 0;
    padding: 15px 20px;
    color: #01b2ee
}

.discover-nav ul {
    margin-left: 0;
    padding: 0;
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column
}

.discover-nav ul li {
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f7f9fb;
    border-top: none
}

.discover-nav ul li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.discover-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    color: #4f5864;
    line-height: 1;
    padding: 15px 20px
}

.discover-nav ul li span {
    font-size: 15px
}

.discover-nav ul li .deals-amount {
    color: #92a2ad;
    font-weight: 300;
    font-size: 12px
} */

#discover-picked-for-you {
    overflow: hidden
}

/* .search-grid {
    padding-top: 15px
}

.search-grid:first-child {
    margin-top: 0
} */

.homepage-top {
    overflow: hidden
}

.homepage-main .section-header {
    margin-bottom: 20px;
    margin-top: 15px;
    position: relative
}

.homepage-main .section-header span {
    font-size: 32px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle
}

@media (max-width:465px) {
    .homepage-main .section-header {
        margin-bottom: 15px
    }

    .homepage-main .section-header span {
        font-size: 22px;
        font-weight: 700
    }
}

.homepage-main .section-header a {
    color: #4f5864
}

.homepage-main .section-header a.view-more {
    border-radius: 5px;
    background-color: #01b2ee;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    line-height: 35px;
    height: 35px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 15px
}

.homepage-main .section-header a.view-more .fa-angle-right {
    font-size: 18px;
    margin-left: 0;
    vertical-align: middle
}

@media (min-width:480px) {
    .homepage-main .section-header a.view-more .fa-angle-right {
        margin-left: 5px
    }
}

.homepage-main .section-header a.view-more .view-more__text {
    font-size: 14px;
    font-weight: 300;
    padding: 0
}

@media (max-width:480px) {
    .homepage-main .section-header a.view-more {
        background-color: transparent;
        color: #01b2ee;
        height: auto;
        width: auto;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        display: block;
        line-height: 25px
    }

    .homepage-main .section-header a.view-more .view-more__text {
        display: inline
    }
}