.headerimage {
     margin: auto;
     display: block;
     padding: 10px 10px 0px 10px;
     text-align: center;
 }

 .mobileheaderimage {
     margin: auto;
     display: none;
     padding: 0px 5px 0px 5px;
 }

 /* Override Start : Mobile Banner display by default */
 #search-toolbar #search-toolbar-intro button {
     display: none;
 }

 #search-toolbar #search-toolbar-intro>div {
     display: block;
 }

 #search-toolbar-intro .headerimage {
     display: block !important;
 }

 /* Override End */

 @media screen and (max-width: 600px) {
     #search-toolbar-intro .desktopheaderimage {
         display: none;
     }

     #search-toolbar-intro .mobileheaderimage {
         display: block;
     }
 }