.headerimage {
    margin: auto;
    margin-top:2%;
    display: block;
    padding: 10px 10px 0px 10px;
    text-align: center;
}

.desktopheaderimage{
    width: 100%;
}

/* .headerimage {
    display: block !important;
}

#search-toolbar #search-toolbar-intro>div {
    display: block;
}

#search-toolbar-intro .headerimage {
    display: block !important;
} */
