* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Museo Sans';
  src: local('Awesome-Font'), local('Awesome-Font-Regular'),
    url('./components/font/MuseoSansCyrl-700.woff') format('woff');
}

@font-face {
  font-family: 'Museo normal';
  src: local('Awesome-Font'), local('Awesome-Font-Regular'),
    url('./components/font/MuseoSansCyrl-500.woff') format('woff');
}

